@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Lobster&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

body {
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: block;
}

.contact-btn:hover {
  transform: scale(1.1)
}



.header {
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
}

.header.scroll {
  background-color: #000;
}


@keyframes slide-in {
  to {
    transform: translateX(0);
  }
}