@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;

}

.header{
  background-color: transparent;
  transition: background-color 0.3s ease;
  position: fixed;
}

.header.scroll{
  background-color: #000;
}



@keyframes slide-in {
  to {
      transform: translateX(0);
  }
}

